{% extends "base_saf.html" %}
{% block content %}
<script type="text/javascript" language="JavaScript1.2" src="js/sigesp_saf_d_rotulacion.js"></script>

  <h1 class="titulo">Definici&oacute;n de M&eacute;todos de Rotulaci&oacute;n</h1>
	<h2 class="subtitulo">Datos</h2>

	<form action="" method="post" name="form1" id="form1" enctype="multipart/form-data" data-toggle="validator">

    {# BLOQUES PARA MENSAJES #}
      <!-- Mensaje y gif de espesta -->
      <div id="mensaje_espera_texto" class="alert alert-danger" style="display:none;"> Por favor espere...</div>
      <!-- mesaje de exito o error -->
      <div id="mensajes" style="display:none;"></div>
      <!-- mensaje detallado en caso de error -->
      <div id="mensajes_detalles" style="display:none;"></div>
      <!-- validacion de campos required -->
      <div id="required_error_block" style="display:none;">
          <div class="alert alert-danger">
            <p><strong>Error!</strong> Falta llenar los siguientes campos.</p>
          </div>
          <div class="sub_required_error_block alert alert-danger">
          </div>
      </div>

    {# Comienza tu formulario aqui #}
		<div class="form-group">
			<label for="codigo" class="control-label col-md-10">C&oacute;digo</label>
			<div class="col-md-2">
				<input name="txtcodrot" type="text" id="txtnombre" style="text-align:center" class="form-control" readonly required>
			</div>
		</div>

    <div class="form-group">
			<label for="codigo" class="control-label col-md-3">Denominaci&oacute;n</label>
			<div class="col-md-9">
					<input name="txtdenrot" type="text" id="txtdenrot" class="form-control" required>
			</div>
		</div>

    <div class="form-group">
      <label for="codigo" class="control-label col-md-3">Empleo</label>
      <div class="col-md-9">
        <textarea name="txtempleo" cols="50" id="txtempleo" class="form-control"></textarea>
      </div>
    </div>

    {# Marcador Guardar-Actualuzar #}
    <input name="operacion" type="hidden" id="operacion">
    {# fin del formulario #}
</form>

{% endblock %}
